{% extends 'base.html' %}

{% block 'content' %}

<center>


    <div class="container">
        <div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
            {{my_answer}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="sm-container">
            <div class="num-containerL">
                <div class="back"></div>
                <img src="static/img/OPS.png" class="mid" alt="">
                <h1 class="nums">{{ num_1 }}</h1>
            </div>

            <h1 class="nums">/</h1>

            <div class="num-containerR">
                <div class="back"></div>
                <img src="static/img/OPS.png" class="mid" alt="">
                <h1 class="nums">{{ num_2 }}</h1>
            </div>
        </div>
        <br />
        <br />
        <form action="{% url 'divide' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Type Your Answer Here" name="answer">
                <input type="hidden" name="old_num_1" value="{{ num_1 }}">
                <input type="hidden" name="old_num_2" value="{{ num_2 }}">
            </div>
            <br />
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
    </div>
</center>

{% endblock %}